/* app */
#userApp{
    display:none;
}
/* login */
#login {
    width: 300px;
}
#login form button[type="submit"] {
    background: #1f3e5d;
    height: 60px;
    width: 100%;
    color: white;
}
#login input{
    padding: 15px 10px;
}
#loginLinks {
    padding: 0 20px;
}
#loginLinks a {
    color: #1f3e5d;
}