/* app */
#user-app{
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-form button[type="submit"] {
    background: #1f3e5d;
    height: 60px;
    width: 100%;
    color: white;
}
.user-form input{
    padding: 15px 10px;
}
.user-form-links {
    padding: 0 20px;
}
#user-links a {
    color: #1f3e5d;
}