<template-user-register class="hidden">
    <form class="form">
        <div class="form-header">
            <h1>Register</h1>
        </div>
        <div class="form-body">
            <div class="form-row">
                <input class="form-input" type="email" name="email" placeholder="Email">
            </div>
            <div class="form-row">
                <input class="form-input" type="text" name="username" placeholder="User Name">
            </div>
            <div class="form-row">
                <input class="form-input" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-row">
                <input class="form-input" type="password" name="confirm" placeholder="Confirm Password">
            </div>
        </div>
        <div class="form-footer">
            <button class="form-button" type="submit">REGISTER</button>
        </div>
    </form>
</template-user-register>